<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body class="detalleDeProducto">
        <%- include('./partials/header.ejs') %>
            <main class="menu">
                <div class="producto">
                    <img src="/images/<%= producto.image %> " alt="">
                </div>
                <div class="descripcion-producto">
                    <h2><%= producto.title %></h2>
                    <span>$<%= producto.price %></span>
                    <div class="container">
                        <p> - 2 + </p>
                        <span> Cantidad </span>
                    </div>
                   
                        <p><%= producto.description %></p>
                   
                    
                </div>
                <section class="box">
                    <span class="sub-box">Añadir al carrito</span>
                    <h5>Envío Gratis a Todo el País</h5>
                </section>
            </main>
            <%- include('./partials/footer.ejs') %>

                <%- include('./partials/scripts.ejs') %>
    </body>

</html>