<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>

    <body class="editProducts">
        <%- include('./partials/header.ejs') %>
            <form action="/admin/editProducts/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="formulario">
                    <div class="boxForm">
                        <label for="title" class="">Título :</label>
                        <input class="input-title" type="text" name="title" id="nombre"
                            value="<%= product.title %>">

                    </div>

                    <div class="boxForm">
                        <label for="description" class=""></label>Descripción:</label>
                        <input class="input-form" type="text" name="description" id="color"
                            value="<%= product.description %> ">

                    </div>

                    <div class="boxForm">
                        <label for="category">Categorías:</label>
                        <select name="category" id="category" value=Categorias>
                            <option value="mates" <%= product.category === "mates" ? 'selected' : null %>>Mates</option>
                            <option value="yerbas" <%= product.category === "yerbas" ? 'selected' : null %>>Yerbas</option>
                            <option value="bolsos" <%= product.category === "bolsos" ? 'selected' : null %>>Bolsos Materos</option>
                            <option value="bombillas" <%= product.category === "bombillas" ? 'selected' : null %>>Bombillas</option>
                            <option value="otros" <%= product.category === "otros" ? 'selected' : null %>>Otros</option>
                        </select>
                    </div>


                    <div class="boxForm">
                        <label for="price" class="">Precio :</label>
                        <input class="input-price" type="text" name="price" value="<%= product.price %> ">

                    </div>

                    <div class="boxForm">
                        <label class="">Cargar foto :</label>
                        <input class="input-form" type="file" name="image" accept="image/*">
                    </div>
                    <div class="boxForm">
                        <button class="btn btn-dark" type="submit">Guardar</button>
                    </div>

                </div>
            </form>
            <%- include('./partials/footer.ejs') %>
                <%- include('./partials/scripts.ejs') %>
    </body>


    </body>

</html>