<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %>

    <body class="list">
        <%- include('./partials/header.ejs') %>
            <main class="menu">
              <h1>Listado de productos</h1>
              <ul>
                <% productos.forEach(producto=> { %>

                    <article class="producto">
                      <div class="imagen">
                        <a href="/admin/editProducts/<%= producto.id %> "><img class="rounded-circle" src="/images/<%= producto.image %> "
                            width="200px"> </a>
                      </div>
                      <div class="resumen">
                        <h4 class="descripcion">
                          <%= producto.title %>
                        </h4>
                        <p class="precio">$<%= producto.price %>
                        </p>
                      </div>
                    </article>
        
                    <% }) %>
              </ul>
            </main>
            <%- include('./partials/footer.ejs') %>

                <%- include('./partials/scripts.ejs') %>
    </body>

</html>