<!DOCTYPE html>
<html lang="es">


<%- include('./partials/head.ejs') %>

    <body class="login">
        <%- include('./partials/header.ejs') %>
            <main class="menu">

                <!-- form html + css-->
                <section class="box">
                    <h2>Inicio de sesión</h2>
                    <div class="buttons">
                        <button type="button" class="button-facebook"> <i class="fab fa-facebook-f"></i> Continua con
                            Facebook </button>
                    </div>
                    <div class="buttons">
                        <button type="button" class="button-google"> <i class="fab fa-google"></i> Continua con Google
                        </button>
                    </div>
                    </div>
                    <span>O continua con e-mail:</span>
                </section>


                <!-- form bootstrap-->
                <section class="box-2">
                    <form class="form" action="" method="POST">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" name="email">
                            <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie

                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" name="contrasenia">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="recordar">
                            <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                           <span class="text-danger"><%= locals.errores && errores.email ? errores.email.msg : null%> </span>
                    </form>
                </section>
            </main>
            <%- include('./partials/footer.ejs') %>

                <%- include('./partials/scripts.ejs') %>

    </body>

</html>