<!DOCTYPE html>
<html lang="es">


<%- include('./partials/head.ejs') %>

    <body class="login">
        <%- include('./partials/header.ejs') %>
            <main class="menu">



                <!-- form bootstrap-->
                <section class="box-2">
                    <form class="form" action="" method="POST" id="form-login">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control <%- locals.errores && locals.errores.email ? 'is-invalid' : null %>" id="email"
                                aria-describedby="emailHelp" name="email">
                            <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie
                            </div>
                            <span class="text-danger" id="error-email"></span>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" name="password">
                            <span class="text-danger" id="error-password"></span>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="recordar">
                            <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                        </div>
                        <button type="submit" class="btn btn-dark">Ingresar</button>
                           <span class="text-danger"><%= locals.errores && errores.email ? errores.email.msg : null%> </span>
                    </form>
                </section>
            </main>
            <%- include('./partials/footer.ejs') %>

                <%- include('./partials/scripts.ejs') %>
                <script src="/js/loginValidator.js"></script>

    </body>

</html>