<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>

    <body class="profile">
        <%- include('./partials/header.ejs') %>
    
                
        <h1>BIENVENIDO A TU PERFIL <h2><%=locals.userLogin.nombreId %></h2> </h1>

                    <%- include('./partials/footer.ejs') %>
                    <%- include('./partials/scripts.ejs') %>
    </body>


</html>