<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>

    <body class="profile">
        <%- include('./partials/header.ejs') %>
    
                
        <h1>Bienvenid@ a tu perfil  <h2 class="animate__animated animate__backInDown animate__delay-1s"><%=locals.user.nameId  %></h2>  </h1>
        <div class="avatar">
        <img class= "rounded-circle" src="/images/<%= user.image %> " alt="" width="200px">
      </div>
        <form action="/users/profile/?_method=PUT" class="row" method="POST" novalidate>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Editar nombre</label>
              <input type="text" name= "name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              value="<%= user.name %>">
        
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">editar contraseña</label>
              <input type="password" name= "password" class="form-control" id="exampleInputPassword1">
               

            </div>

            <div class="mb-3">
              <label for="nameId" class="form-label">editar nameID</label>
              <input type="text" name="nameId" class="form-control" id="nameId"
              value="<%= user.nameId %>">
            </div>
           
            <button type="submit" class="button">Guardar</button>
          </form>

                    <%- include('./partials/footer.ejs') %>
                    <%- include('./partials/scripts.ejs') %>
    </body>


</html>