<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>

    <body class="registro">
        <%- include('./partials/header.ejs') %>

            <main>
                <div class="formulario">
                    <form action="/users/registro" method="POST" enctype="multipart/form-data" id="form-register">
                        <div class="inputs">
                            <div class="mb-3">
                                <label for="nombre" class="form-label ">Nombre y Apellido :</label>
                                <input type="text" class="form-control" id="nombre" name="nombreCompleto"
                                    value="<%= locals.oldData ? oldData.nombreCompleto : null %>">
                                    <span class = "text-danger"id="error-nombre"></span>
                                <% if (locals.errores && errores.nombreCompleto) { %>
                                    <div class="text-danger">
                                        <%= errores.nombreCompleto.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="mb-3">
                                <label for="nombreId" class="form-label">Nombre de ID :</label>
                                <input type="text" class="form-control" id="nombreId" name="nombreId"
                                    value="<%= locals.oldData ? oldData.nombreId : null %>">
                                    <span class = "text-danger" id="error-nombreId"></span>
                                <!--Con este if ternario logramos lo que se conoce como PERSISTENCIA DE DATOS -->

                                <% if (locals.errores && errores.nombreId) { %>
                                    <div class="text-danger">
                                        <%= errores.nombreId.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña:</label>
                                <input type="password" class="form-control" id="password"
                                    name="contrasenia" value="<%= locals.oldData ? oldData.contrasenia : null %>">
                                    <span class = "text-danger" id="error-password"></span>

                                <% if (locals.errores && errores.contrasenia) { %>
                                    <div class="text-danger">
                                        <%= errores.contrasenia.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    value="<%= locals.oldData ? oldData.email : null %>">
                                    <span class = "text-danger" id="error-email"></span>
                                <% if (locals.errores && errores.email) { %>
                                    <div class="text-danger">
                                        <%= errores.email.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="mb-3">
                                <label for="fecha" class="form-label">Fecha de nacimiento:</label>
                                <input type="date" class="form-control" id="fecha" name="fechaNacimiento"
                                    value="<%= locals.oldData ? oldData.fechaNacimiento : null %>">
                                <% if (locals.errores && errores.fechaNacimiento) { %>
                                    <div class="text-danger">
                                        <%= errores.fechaNacimiento.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="inputs">
                                <label for="image"class="btn btn-dark my-3 ">Cargar imagen</label>
                                <input class="input-form" type="file" name="image" id="image" accept="image/*" hidden>
                            </div>
                        </div>


                        <div class="reg-bor">
                            <div class="registrarse">
                                <button type="submit" class="btn btn-dark">Registrarse</button>
                            </div>
                        </div>

                        <div class="espacio-caja">
                            <div class="espacio"></div>
                            <h3 class="o-tambien">O también:</h3>
                            <div class="espacio"></div>
                        </div>

                    </form>
                </div>

                <div class="contenedor">
                    <h2>Regístrate</h2>
                    <div class="caja">
                        <a href="">
                            <p class="pformulario"><i class="fab fa-facebook-f"></i>Regístrate con Facebook</p>
                        </a>

                    </div>
                    <div class="caja">
                        <a href="">
                            <p class="pformulario"><i class="fab fa-google"></i>Regístrate con Google</p>
                        </a>

                    </div>
                    <div class="caja">
                        <a href="">
                            <p class="pformulario"><i class="far fa-envelope"></i>Regístrate con Email</p>
                        </a>

                    </div>

                </div>
            </main>
            <%- include('./partials/footer.ejs') %>
                <%- include('./partials/scripts.ejs') %>
                <script src="/js/registerValidator.js"></script>
    </body>

</html>