<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>

    <body class="registro">
        <%- include('./partials/header.ejs') %>

            <main>
                <div class="formulario">
                    <form action="/users/registro" method="POST" enctype="multipart/form-data">
                        <div class="inputs">
                            <div class="mb-3">
                                <label for="" class="form-label ">Nombre y Apellido :</label>
                                <input 
                                type="text" 
                                class="form-control"
                                id="nombre"
                                name="nombre"
                                value="<%= locals.oldData ? oldData.nombre : null %>"
                                >

                                <% if (locals.errors && errors.nombre) { %> 
                                      <div class="text-danger">
                                       <%= errors.nombre.msg %> 
                                      </div>
                                    <%  } %> 
                              </div>
                              <div class="mb-3">
                                <label for="" class="form-label">Nombre de ID :</label>
                                <input 
                                 type="text"
                                 class="form-control" 
                                 id="nombreId"
                                 name="nombreId" 
                                 value="<%= locals.oldData ? oldData.nombreId : null %>" 
                                >         <!--Con este if ternario logramos lo que se conoce como PERSISTENCIA DE DATOS -->

                                <% if (locals.errors && errors.nombreId) { %> 
                                    <div class="text-danger">
                                     <%= errors.nombreId.msg %> 
                                    </div>
                                  <%  } %> 
                              </div>
                              <div class="mb-3">
                                <label for="" class="form-label">Contraseña:</label>
                                <input 
                                 type="password"
                                 class="form-control"
                                 id="exampleInputPassword1"
                                 name="password"
                                 value="<%= locals.oldData ? oldData.password : null %>"
                                >

                                <% if (locals.errors && errors.password) { %> 
                                    <div class="text-danger">
                                     <%= errors.password.msg %> 
                                    </div>
                                  <%  } %> 
                              </div>
                              <div class="mb-3">
                                <label for="" class="form-label">Email:</label>
                                <input 
                                 type="email" 
                                 class="form-control"
                                 id="email" 
                                 name="email"
                                 value="<%= locals.oldData ? oldData.email : null %>"
                                >
                                <% if (locals.errors && errors.email) { %> 
                                    <div class="text-danger">
                                     <%= errors.email.msg %> 
                                    </div>
                                  <%  } %> 
                              </div>
                              <div class="mb-3">
                                <label for="" class="form-label">Fecha de nacimiento:</label>
                                <input 
                                 type="date" 
                                 class="form-control"
                                 id="fecha" 
                                 name="fecha"
                                 value="<%= locals.oldData ? oldData.fecha : null %>"
                                 >
                                <% if (locals.errors && errors.fecha) { %> 
                                    <div class="text-danger">
                                     <%= errors.fecha.msg %> 
                                    </div>
                                  <%  } %> 
                              </div>
                              <div class="inputs">
                                <label class="">Cargar foto de perfil :</label>
                                <input class="input-form" type="file" name="image" accept="image/*">
                            </div>
                        </div>
                       

                        <div class="reg-bor">
                            <div class="registrarse">
                                <button type="submit" class="btn btn-dark">Registrarse</button>
                            </div>
                        </div>

                        <div class="espacio-caja">
                            <div class="espacio"></div>
                            <h3 class="o-tambien">O también:</h3>
                            <div class="espacio"></div>
                        </div>

                    </form>
                </div>

                <div class="contenedor">
                    <h2>Regístrate</h2>
                    <div class="caja">
                        <a href="">
                            <p class="pformulario"><i class="fab fa-facebook-f"></i>Regístrate con Facebook</p>
                        </a>

                    </div>
                    <div class="caja">
                        <a href="">
                            <p class="pformulario"><i class="fab fa-google"></i>Regístrate con Google</p>
                        </a>

                    </div>
                    <div class="caja">
                        <a href="">
                            <p class="pformulario"><i class="far fa-envelope"></i>Regístrate con Email</p>
                        </a>

                    </div>

                </div>
            </main>
            <%- include('./partials/footer.ejs') %>
            <%- include('./partials/scripts.ejs') %>
    </body>

</html>