<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs')  %> 

<body>
  <%- include('./partials/header.ejs')  %> 
    <div class="register">
        <main class="container mt-5">
            <% if (Producto.length > 0) { %>
                <h3>Resultados de la búsqueda: <%= name %> </h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre del producto</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Categorías</th>
                        <th scope="col">Precio</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% Producto.forEach(producto => { %>
                            <tr>
                                <th scope="row"></th>
                                <td><%= producto.title %> </td>
                                <td><%= producto.description %> </td>
                                <td><%= producto.category %> </td>
                                <td><%= producto.price %> </td>
                              </tr>
                        <% }) %>
                      
                     
                    </tbody>
                  </table>
            <% } else{ %>
                <h3>No hay resultado para la búsqueda: <%= name %> </h3>

                <% } %>

        </main>
    </div>
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/scripts.ejs')  %> 

</body>
</html>